Source: debrewery
Section: admin
Priority: optional
Maintainer: Azer Abdullaev (Like All) <like-all@yandex.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/Like-all/debrewery

Package: debrewery
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openssh-client, git, debootstrap (>= 1.0.72), ubuntu-archive-keyring | debian-archive-keyring
Description: set of scripts for building debian packages within chroot environments

Package: debrewery-agent
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, devscripts, git, dh-make (= 0.61-1+precise) | dh-make, dupload, equivs
Description: set of scripts for building debian packages within chroot environments
